nav{
    padding: 15px;
    text-align: right;
    word-spacing: 16px;
    background-color:whitesmoke
}
header{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}
section{
    border:1px solid #e0e0e0;
    background-color:darkgrey
}
P{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}

section img {
  width: 300px;
  height: 200px;
  object-fit: cover; /* prevents distortion */
  border-radius: 8px; /* optional: makes it look nicer */
}

    