nav{
    padding: 15px;
    text-align: right;
    word-spacing: 16px;
    background-color:darkgrey;
    }

header{
    text-align: center;
    font-weight: bold;;
    font-size:xx-large;
    color: #0D193F;
}
section{
    border:1px solid #e0e0e0;
    background-color:darkgrey;
}
P{
    font-family:var(--uicore-typography--p-f, "Inter");
}
h2{
    font-family:Arial, Helvetica, sans-serif
    font-style:unset;
    color:red;
    }

section img {
  width: 300px;
  height: 200px;
  object-fit: cover; /* prevents distortion */
  border-radius: 8px; /* optional: makes it look nicer */
}
h1{
    font-style: oblique;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 footer{
    background-color: black;
    color: white;
    padding: 15px;
 }

